body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 15px;
    height: 100%;
    margin: 0;
}

/* DISTRIBUTION */

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #466964;
}

