body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 15px;
    height: 100%;
    margin: 0;
}

/* DISTRIBUTION */

.container{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 200px 1fr;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #466964;
}

/* SIDEBAR ELEMENTS */

.sidebar .title{
    display: flex;
    align-items: center;
    margin: 10px 25px;
    gap: 15px;
}

.sidebar .title img{
    width: 60px;
    height: 60px;
}

.sidebar .title h2{
    color: #FFFFFF;
    font-size: 30px;
}

.sidebar .links{
    margin: 20px;
}

.sidebar .links ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

.links ul li{
    display: flex;
    align-content: center;
    padding: 10px;

}

.links ul li img{
    width: 30px;
}

.links ul li .label{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 0 30px;
}